/* CSS for the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3 {
  font-family: sans-serif;
  text-align: center;
}

#home {
  background-color: #f2f2f2;
  text-align: center;
  padding: 5rem 0;
}

#home button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

#home button:hover {
  background-color: #fff;
  color: #333;
}

#about img {
  float: left;/* CSS for the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3 {
 
  color: #333; 
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}

#home {
  background-color: #f2f2f2;
  text-align: center;
  padding: 5rem 0;
}

#home button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

h4{
text-align: center;
}
#home button:hover {
  background-color: #fff;
  color: #333;
}

p{
  text-align: center;
font-family: 'Brush Script MT', cursive;
}
#about img {
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

/* CSS for the work section */
.work-item {
  margin-bottom: 2rem;
}

.work-item img {
  width: 310px;
  height: 200px;
}

/* CSS for the contact form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input, textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #333;
}

.gotopbtn{
  position: fixed;
  height: 50px;
  width: 50px;
  text-decoration: none;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
/* CSS for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

/* CSS for the work section */
.work-item {
  margin-bottom: 2rem;
}

.work-item img {
  width: 310px;
  height: 200px;
}

/* CSS for the contact form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input, textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #333;
}

/* CSS for the footer */
footer {
  background-color: #f2f2f2;
  padding: 50px 0;
}

footer h3 {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  color: #777;
  font-size: 16px;
  line-height: 24px;
}

footer ul {
  list-style: none;
  paddin
  
g: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #777;
  text-decoration: none;
}

footer ul li a:hover {
  color: #222;
}

.social-icon {

  display: flex;

  justify-content: center;

}

.social-icon ul {

  list-style: none;

  padding: 0;

  margin: 0;

}

.social-icon li {

  margin: 0 10px;

}

.social-icon li a {

  display: block;

}

.social-icon li a .fab {

  font-size: 25px;

  color: #fff;

  transition: all 0.3s ease;

}

.social-icon li a:hover .fab {

  transform: scale(1.2);

}

.social-icon li a.facebook:hover .fab {

  color: #3b5998;

}

.social-icon li a.youtube:hover .fab {

  color: #cd201f;

}

.social-icon li a.instagram:hover .fab {

  color: #e4405f;

}

.social-icon li a.twitter:hover .fab {

  color: #00acee;

}
